$brand-grey: #1A1A1A;
$brand-black: #000000;
$brand-blue: #41C4C3;

$form-field-grey: #262626;
$form-field-border: #333333;
$form-field-text: #999999;
$submit-text: #0A0A0C;

$dull-text-color: #B2B2B2;
$light-text-color: #E5E5E5;

$container-width: 1150px;