$brand-grey: #1a1a1a;
$brand-black: #000000;
$brand-blue: #41c4c3;

$form-field-grey: #262626;
$form-field-border: #333333;
$form-field-text: #999999;
$submit-text: #0a0a0c;

$dull-text-color: #b2b2b2;
$light-text-color: #e5e5e5;

$container-width: 1150px;
$mbbp: 768px;
$mobile-padding: 5%;

$font-light: 200;
$font-regular: 400;
$font-semi-bold: 500;
$font-bold: 700;
